.sidepanel {
  text-align: center;
  padding-top: 15em;
  width: 300px;
  height: 100%;
  position: fixed;
  z-index: 1;
  background: #f2f3f7;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.sidepanel h2 {
  font-family: "Playfair Display", Georgia, serif;
  margin-bottom: 4px;
}

.description {
  margin-top: 0px;
  font-family: "Quicksand", Arial, sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.8;
  color: rgba(0, 0, 0, 0.7);
}

.description a {
  text-decoration: none;
  color: #2c98f0;
}

hr {
  margin-top: 3em;
  width: 80%;
  margin-bottom: 2rem;
  border-color: rgba(0, 0, 0, 0.1);
}

.parts {
  margin-top: 6em;
  font-family: "Quicksand", Arial, sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.8;
  color: rgba(0, 0, 0, 0.7);
  list-style: none;
  padding: 0;
}

.parts a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  font-size: 1rem;
}

.parts li {
  margin-bottom: 15px;
}

.parts a:hover {
  color: #2c98f0;
}

.footer {
  margin-top: 10em;
  font-family: "Quicksand", Arial, sans-serif;
  font-size: 0.7rem;
}
